.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* David */
.DoubleBordered {
  border-style: double;
  color: blue;
  background: green;
  }


body {
  background-color: #2d8a75;
}

h1 {
  font-family: Impact, Charcoal, sans-serif;
    font-weight: 50;
  color: white;
}



/* Home */

.wizardarmy-title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 12em;
    letter-spacing: -0.4px;
    word-spacing: 6px;
    line-height: .8;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    white-space: pre-wrap;
    margin-top:5%;
    padding-top:0;

}

.wizardarmy-subtitle {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 4.5em;
    letter-spacing: -0.4px;
    word-spacing: 6px;
    color: #373491;
    font-weight: 100;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    white-space: pre-wrap;
    margin:0em;
    padding:0px;
    display: block;
    vertical-align: top;
}


/* MyWizards */

.wizards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 8em;
}

.wizard-image {
    width: 14em;
    height: 14em;
    margin: .5em;
    border:solid;
    border-color: black;
    borther-thickness: 3;

}


/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
  padding: 1em;
  margin-right: 325px;
}

.navbar-item {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.5em;
    letter-spacing: -0.4px;
    word-spacing: 6px;
    color: #FFF;
    font-weight: 100;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    margin:0;
    padding:.1em;
}

.navbar-item a:link {
    text-decoration: none;
    color: #FFF;
}
.navbar-item a:visited  {
    text-decoration: none;
    color: #FFF;
}
.navbar-item a:hover  {
    text-decoration: none;
    color: #373491;
}
.navbar-item a:active { text-decoration: none; }


/* Tasks */

/* Colors -- temp
#0367a6 	(3,103,166) // bluish
#373491 	(55,52,145) // darker purple
#877df0 	(135,125,240) // lighter purple
#2d8a75 	(45,138,117) /// greenish
#4de8c4 	(77,232,196) // brighter green
*/

.tasks-container {
/*  background-color:#282c34; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5em;
}

.task-container {
/*  background-color: #877df0;
  background-color: #373491;
*/
  padding: 2em;
  color: white;
  border:solid;
}

.task {
/*  background-color: #FFF; */
  padding: 2em;
}



/* Wrong-Network */

#wrong-network-overlay  {
    color:white;
    background:#373491;
    padding:2em;
    position:absolute;
    left: 20%;
    top: 30%;
    margin: auto;
    width: 50%;
    border-radius: 1em;
    /*    display:none; */
    z-index:1000;
    font-size: 4em;
    opacity: 0.93;
}



